@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  user-select: none !important;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

@layer components {
  .tinymce {
    [role="application"] {
      height: 100% !important;
    }

    [role="application"] button:disabled {
      pointer-events: none;
    }

    [role="application"][aria-disabled="true"] .tox-editor-header {
      cursor: pointer;
      position: relative;
      &::before {
        background-color: rgba(255, 255, 255, 0.8);
        content: "Click to switch to design mode.";
        display: flex;
        height: calc(100% - 1px);
        place-content: center;
        place-items: center;
        position: absolute;
        text-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
        width: 100%;
      }
    }
  }
  .custom-scrollbar {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #4b5563 #1f2937;
    scrollbar-gutter: stable;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #1f2937;
  }
  .custom-scrollbar::-webkit-scrollbar-button {
    display: none;
  }
  .custom-scrollbar:hover::-webkit-scrollbar-button {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #4b5563; /* Custom scrollbar button color */
  }
  .custom-scrollbar:hover::-webkit-scrollbar-button:increment {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJ3aGl0ZSIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEyIDE1LjVsLTUtNSAxLjQxMS0xLjQxMUwxMiAxMi42MTUgMTUuNTg5IDkuMDg5IDE3IDEwLjV6Ii8+PC9zdmc+"); /* Custom SVG for down arrow */
  }
  .video-player .video-js {
    height: 100%;
    width: 100%;
  }

  .video-player .video-js .vjs-poster {
    background-size: contain;
  }
}
